[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=tela
X-Python-2-Compatible=false
X-Krita-Manual=tela_manual.html
Name=Tela
Comment=Canvas Tool Box